# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/
*.db

# Node.js
web-frontend/node_modules/
web-frontend/build/
web-frontend/package-lock.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db